<div>
  <h4 class="font-weight-bold spanborder"><span>Support the animals</span></h4>
  {% include become-a-nutter.html %}
</div>
<div>
  <h4 class="font-weight-bold spanborder"><span>Support us</span></h4>
  <p>
    This website is a side project run by individuals with full-time jobs. Any little help is welcome to create more content and invest more time into this project.
  </p>
  <p>
    <a target="_blank" href="{{ site.authors.nutbasednews.buymeacoffee }}" class="btn btn-outline-success btn-sm btn-round"><i class="fas fa-coffee"></i> Buy us a coffee</a>
  </p>
</div>
