<script src="https://cdn.tailwindcss.com"></script>
<script>
  tailwind.config = {
    theme: {
      screens: {
        sm: '540px',
        md: '720px',
        lg: '960px',
        xl: '1070px',
        '2xl': '1280px',
      }
    }
  }
</script>

<style type="text/tailwindcss">
  h3 {
    font-size: 1.75rem;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    font-size: 1.25rem;
    line-height: 1.2;
    @apply mb-2;
    @apply font-medium;
  }

  h6 {
    font-size: 1.1rem;
    line-height: 1.2;
    @apply mb-2;
  }

  p {
    @apply mb-4;
    line-height: 1.6;
  }

  article p {
    @apply mb-8;
    line-height: 1.86;
    font-size: 1.24rem;
  }

  article {
    line-height: 1.86;
    font-size: 1.24rem;
  }

  a {
    color: #03a87c;
  }

  ul {
    padding-left: 40px;
    list-style-type: disc;
  }

  small {
    font-size: 85%;
    font-weight: 400;
  }

  .btn-success {
    background-color: #03a87c;
  }

  .btn-secondary {
    background-color: #7832e2;
  }

  .modal-container {
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
  }

  .modal-backdrop {
    background-color: rgba(255,255,255,0.75);
  }

  .country-modal {
    background-color: white;
    max-width: 500px;
    margin: 24px;
  }
</style>
