---
layout: default
---
{% assign author = site.authors[page.author] %}
<div class="container">
<div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative">
		<div class="h-100 tofront">
			<div class="row {% if page.image %} justify-content-between {% else %} justify-content-center {% endif %}">
        {% if page.image %}
				<div class="col-md-12 pr-0 align-self-center">
					<img class="rounded hero" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
				</div>
        {% endif %}
				<div class="{% if page.image %} col-md-12 {% else %} col-md-8 {% endif %} pr-0 pr-md-4 pt-4 pb-4 align-self-center">
					<p class="text-uppercase font-weight-bold">
                        <span class="catlist">
						{% for category in page.categories %}
                          <a class="sscroll text-danger" href="{{site.baseurl}}/categories.html#{{ category | slugify }}">{{ category | downcase }}</a><span class="sep">, </span>
                        {% endfor %}
                        </span>
					</p>
					<h1 class="display-4 mb-4 article-headline">{{ page.title }}</h1>
					<div class="d-flex align-items-center">
                        {% if author.avatar %}
                        <img class="rounded-circle" src="{{site.baseurl}}/{{author.avatar}}" alt="{{author.name}}" width="70"/>
                        {% endif %}
						<small class="ml-3">
							{{ author.name }}
							{% if author.instagram %}<span><a onclick="window.fathom.trackGoal('EXFJB5QZ', 0)" target="_blank" href="{{ author.instagram }}" class="btn btn-outline-success btn-sm btn-round ml-1">Follow</a></span>{% endif %}
							{% if author.buymeacoffee %}<span><a onclick="window.fathom.trackGoal('7QLJSO2U', 0)" target="_blank" href="{{ author.buymeacoffee }}" class="btn btn-outline-success btn-sm btn-round"><i class="fas fa-coffee"></i></a></span>{% endif %}
                            <span class="text-muted d-block mt-1">{{ page.date | date: '%b %d, %Y' }} · {% include meta-read-time.html %}</span>
						</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





<div class="container-lg pt-4 pb-4">
	<div class="row justify-content-center">
        
        
        <!-- Share -->
		<div class="col-lg-2 pr-4 mb-4 col-md-12">
			<div class="sticky-top sticky-top-offset text-center">
				<div class="text-muted">
					Share this
				</div>
				<div class="share d-inline-block">
					<!-- AddToAny BEGIN -->
					<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
						<a class="a2a_button_facebook"></a>
						<a class="a2a_button_twitter"></a>
						<a class="a2a_button_reddit"></a>
						<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
					</div>
					<script async src="https://static.addtoany.com/menu/page.js"></script>
					<!-- AddToAny END -->
				</div>
			</div>
		</div>
        
        
		<div class="col-md-12 col-lg-8">
            
            <!-- Article -->
			<article class="article-post">                
			{{ content }}                
			</article>
			
			<!-- Tags -->
			<div class="mb-4">
				<span class="taglist">
				{% for tag in page.tags %}
				  <a class="sscroll btn btn-light btn-sm font-weight-bold" href="{{site.baseurl}}/tags.html#{{ tag | downcase }}">{{ tag | downcase }}</a>
				{% endfor %}
				</span>
			</div>
			<h6 class="font-weight-bold spanborder mt-6"><span>Time for more?</span></h6>
			<div class="row">
				{% if page.previous %}
				<div class="col-md-6">
					<div class="card border-0 mb-4 box-shadow">   
					<a onclick="window.fathom.trackGoal('WIJCMQRU', 0)" href="{{site.baseurl}}{{page.previous.url}}">
					<div class="topfirstimage" style="background-image: url({% if page.previous.image contains "://" %}{{ page.previous.image }}{% else %} {{site.baseurl}}/{{ page.previous.image}}{% endif %}); height: 200px;    background-size: cover;    background-repeat: no-repeat;"></div>     
					</a>
					<div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
					<h2 class="h4 font-weight-bold">
					<a onclick="window.fathom.trackGoal('WIJCMQRU', 0)" class="text-dark" href="{{site.baseurl}}{{page.previous.url}}">{{ page.previous.title }}</a>
					</h2>
					<p class="excerpt">
							{{ page.previous.excerpt | strip_html | strip_newlines | truncate: 136 }}
					</p>
					<div>
							<small class="d-block text-muted">
									In <span class="catlist">
											{% for category in page.previous.categories %}
											<a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories#{{ category | slugify }}">{{ category }}</a><span class="sep">, </span>
											{% endfor %}
											</span>
							</small>
							<small class="text-muted">
									{{ page.previous.date | date: '%b %d, %Y' }}
							</small>
					</div>
					</div>
					</div>
				</div>
				{% endif %}
				{% if page.next %}
				<div class="col-md-6">
					<div class="card border-0 mb-4 box-shadow">   
					<a onclick="window.fathom.trackGoal('PVI9UYQJ', 0)"  href="{{site.baseurl}}{{page.next.url}}">
					<div class="topfirstimage" style="background-image: url({% if page.next.image contains "://" %}{{ page.next.image }}{% else %} {{site.baseurl}}/{{ page.next.image}}{% endif %}); height: 200px;    background-size: cover;    background-repeat: no-repeat;"></div>     
					</a>
					<div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
					<h2 class="h4 font-weight-bold">
					<a onclick="window.fathom.trackGoal('PVI9UYQJ', 0)" class="text-dark" href="{{site.baseurl}}{{page.next.url}}">{{ page.next.title }}</a>
					</h2>
					<p class="excerpt">
							{{ page.next.excerpt | strip_html | strip_newlines | truncate: 136 }}
					</p>
					<div>
							<small class="d-block text-muted">
									In <span class="catlist">
											{% for category in page.next.categories %}
											<a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories#{{ category | slugify }}">{{ category }}</a><span class="sep">, </span>
											{% endfor %}
											</span>
							</small>
							<small class="text-muted">
									{{ page.next.date | date: '%b %d, %Y' }}
							</small>
					</div>
					</div>
					</div>
				</div>
				{% endif %}
			</div>
			<h6 class="font-weight-bold spanborder mt-4"><span>Written by</span></h6>
			{% include join-newsletter.html %}
             <!-- Author Box -->
                {% if page.author %}				
				<div class="row mt-5">
					<div class="col-3 col-md-2">
                         {% if author.avatar %}
                        <img class="rounded-circle" src="{{site.baseurl}}/{{author.avatar}}" alt="{{author.name}}" width="90"/>
                        {% endif %} 
					</div>
					<div class="col-9 col-md-8">		
												<h6 class="mt-3">{{ author.name }}</h6>
												{% if author.instagram %}<span><a onclick="window.fathom.trackGoal('KCLEQUO4', 0)" target="_blank" href="{{ author.instagram }}" class="btn btn-outline-success btn-sm btn-round"><i class="fab fa-instagram"></i></a></span>{% endif %}
													{% if author.twitter %}<span><a onclick="window.fathom.trackGoal('EPQVFHID', 0)" target="_blank" href="{{ author.twitter }}" class="btn btn-outline-success btn-sm btn-round"><i class="fab fa-twitter"></i></a></span>{% endif %}
													{% if author.buymeacoffee %}<span><a onclick="window.fathom.trackGoal('7QLJSO2U', 0)" target="_blank" href="{{ author.buymeacoffee }}" class="btn btn-outline-success btn-sm btn-round"><i class="fas fa-coffee"></i></a></span>{% endif %}
												</h5>
						<p class="mt-4">
							{{ author.bio }}
						</p>
						<p class="mt-4">
							{% include become-a-nutter.html %}
						</p>
					</div>
				</div>				
                {% endif %}
			<!-- Comments -->
			{% if page.comments != false %}
					{% include comments.html %}
			{% endif %}
		</div>
	</div>
</div>
